<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}} Karl Floersch. Licensed under <a href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons</a> 😊</small></p>
  <p><small><a href="https://github.com/karlfloersch/karl.tech" target="_blank">karl.tech Theme</a> by <a href="http://twitter.com/karl_dot_tech" target="_blank">@karl_dot_tech</a></small></p>
  <p><small>Forked from <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
