<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="https://github.com/karlfloersch/karl.tech" target="_blank">Karl.Tech Theme</a> by <a href="http://twitter.com/karl_dot_tech" target="_blank">@karl_dot_tech</a></small></p>
  <p><small>Forked from <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
