html,
body,
#container {
  height: 100%;
}

body {
  &.drawer-transition {
    overflow-x: hidden;
  }
}

#container {
  padding-top: 60px;
  position: relative;
  transition: transform cubic-bezier(.2, .3, .25, .9) .2s, opacity .3s;
  backface-visibility: hidden;
  opacity: 1;

  .pace-running & {
    transition-delay: .1s;
    //opacity: 0;
  }

  .pace-done & {
    //opacity: 1;
  }

  .drawer-transition & {
    //z-index: 100;
  }

  .drawer-open & {
    transform: translate3d(280px, 0, 0);
  }
}

.surface {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.surface-container {
  position: relative;
  height: 100%;
}

.content {
  position: relative;
  height: 100%;
}

.content-padding {
  /*padding-top: 30px;*/
}

.wrapper {
  position: relative;
  left: 0;
  // right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // bottom: 0;
  outline: 0;
  background-color: $background-color;
  overflow: auto;

  @include breakpoint(medium) {
    position: relative;
    left: 0;
  }

  &.wrapper-post {
    left: 0;
    position: relative;
  }
}

.wrapper-container {
  position: relative;
  padding: 40px 10% 40px 185px;
  max-width: 910px;

  @include breakpoint(medium) {
    padding: 40px 10%;
    max-width: 100%;
  }

  .wrapper-post & {
    @extend .center-block;
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(medium) {
      width: 75%;
    }

    @include breakpoint(small) {
      width: 100%;
    }
  }

  @include breakpoint(small) {
    &,
    .wrapper-post & {
      padding: 25px 15px;
    }
  }
}

.homepage-thumbnail{
  width: 100%;
  height: 200px;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: auto;
  height: auto;
}

.navigation button {
  color: #777;
}
.navigation button:hover {
  color: rgba(0,0,0,.87);
}

.navigation {
  position:fixed; 
  z-index:1000;
  background-color:#ffffff;
  width:100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDD;
  height: 57px;
  padding-left:5px;
  transition: top 0.2s ease-in-out;
  top: 0;
}
.navigation .nav-current {
  border-bottom-style: solid;
  border-bottom-color: rgb(41, 170, 226);
  color: rgba(0,0,0,.87);
}
.navigation-up {
  top: -60px; // same as header height. use variables in LESS/SASS
}

.mailing-list-popup {
  margin-left: -3px;
  position:fixed; 
  z-index:1000;
  background-color:#ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
  border-bottom-style: none;
  height: 57px;
  transition: top 0.2s ease-in-out;
  display:none;
  font-family: "Open Sans","Myriad Pro","Lucida Grande",droid-sans-mono,"Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 13px;



  padding: 0px 10% 40px 185px;
  max-width: 910px;

  @include breakpoint(medium) {
    padding: 0px 10%;
    max-width: 100%;
  }

  .wrapper-post & {
    @extend .center-block;
    max-width: 910px;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(medium) {
      width: 75%;
    }

    @include breakpoint(small) {
      width: 100%;
    }
  }

  @include breakpoint(small) {
    &,
    .wrapper-post & {
      padding: 25px 15px;
    }
  }

}
#mailing-large {
  display:block;

  @include breakpoint(small) {
    display:none;
  }
}
#mailing-small {
  display:none;

  @include breakpoint(small) {
    display:block;
  }
}
#small-email {
  display: none;
}
#small-cta {
  display: block;
}
#mailing-success {
  display: none;
  height: 40px;
  border-radius: 0px;
  margin-left: 4px;
  padding-left: 13px;
  padding-right: 13px;
}
.mailing-submit-btn {
  font-family: "Open Sans", "Myriad Pro", "Lucida Grande",droid-sans-mono, "Lucida Sans",Geneva,Verdana,sans-serif;
  height: 40px;
  border-radius: 0px;
  margin-left: 4px;
  color: #fff !important;
  background-color: #29AAE2 !important;
  padding-left: 13px;
  padding-right: 13px;
}

